/* .OpenModal {
margin: auto;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(248, 248, 248, 1) 0%,
    rgb(193, 210, 232) 100%
  );
  height: 100vh;
}

.header{
  font-size: 70px;
  padding: 60px;
}

.NavBar{
  font-family: 'Montserrat', sans-serif;
  box-shadow: none;
  width: 100%;
}

.BGImage{
  width: 1100px;
  border-radius: 15px;
}


/* Create Case Button */
.imageContainer {
  position: relative;
  display: inline-block;
}

.centeredButton {
  position: absolute;
  top: 42%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 215px;
  height: 70px;
  font-weight: 500;
  font-size: large;
}


/* Create Case Form */

.FontSize{
  font-size: 70px;
}

.CasePage{
    background: radial-gradient(
    circle,
    rgba(248, 248, 248, 1) 0%,
    rgb(193, 210, 232) 100%
  );
}

.container {
  max-width: 400px;
  margin: 50px auto 0;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif !important;
  background-color: white;
}

.form-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
}

.form-col {
  display: flex;
  flex-direction: column;
}


label {
  margin-bottom: 5px;
  /* margin-top: 20px; */
}


Input,
select,
textarea {
  padding: 10px;
  /* width: 500px; */
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: ; */
}

/* button:hover {
  background-color: #0069d9;
} */

button:disabled {
  background-color: #ccccccd3;
  cursor: not-allowed;
}


/* Logo */
.custom-link {
  color: black !important;
}


.DropDownBar{
  background-color: #eeeeeea3 !important;
  color: rgb(157, 157, 157) !important;
  font-size: 17px !important;
  height: 50px !important;
  font-family: 'Montserrat', sans-serif;
}





/* Login */

.LoginPage{
    background: radial-gradient(
    circle,
    rgba(248, 248, 248, 1) 0%,
    rgb(193, 210, 232) 100%
  );
  /* height: 100vh; */
}

h1 {
  margin-bottom: 20px;
  font-size: 4rem;
  padding-top: 70px;
  color: rgb(27, 61, 102);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.row {
  width: 900px;
  height: 540px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.image1 {
  background-image: url("https://i.postimg.cc/y8G8jBT0/GGMAP-Embark-on-a-visual-journey-to-a-state-of-the-art-robot-ca-54785413-9247-4a93-a032-64186ad52a03.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text p {
  color: #fff;
  font-size: 18px;
}

i {
  font-weight: 400;
  font-size: 15px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 900; */
}

.input {
  width: 354px !important;
  background: transparent;
  border: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  outline: none;
  /* margin-bottom: 40px; */
  color: #40414a;
}

.submit {
  width: 354px !important;
}

.submit:hover {
  background: rgba(37, 95, 156, 0.9);
  color: #fff;
}

.login {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

span a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: 0.5s;
}

span a:hover {
  text-decoration: underline;
  color: #000;
}





/* Profile Page */

.profile-container {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
}

.profile-info {
  color: #555;
  font-size: 16px;
  margin-bottom: 8px;
}
